// Place all the styles related to the Manuals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$color-dark: #ff748c;
$color-medium: #ff8fa3;
$color-light: #ffabba;
$color-lightest: #ffc7d1;

body {
  margin: 0;
  padding: 0;
  font-size: 150%;
}

#header {
  background-color: $color-dark;
  text-align: center;
  padding: 20px;
  margin: 0;

  h1 {
    margin: 0;
    padding: 0;
    font-weight: bolder;
  }

  p {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 120%;
  }

  a {
    color: #fff;
  }

  a:hover {
    color: #ccc;
    text-decoration: none;
  }
}

#filters {
  ul {
    margin: 0;
    padding: 20px;
    text-align: center;

    li {
      display: inline-block;
      color: #333;
    }
  }

  ul.modes { background-color: $color-medium }
  ul.makes { background-color: $color-light }
  ul.carriers { background-color: $color-lightest }

  p { margin: 20px 0 }

  a { color: #fff }

  a:hover {
    color: #666;
    text-decoration: none;
  }
}

h2 {
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

h2.carrier {
  margin: 10px 0 0 0;
}

h3 {
  text-align: center;
  font-weight: bold;
}

p {
  text-align: center;
}

p.make_and_model {
  font-size: 150%;
}

a {
  color: #666;
}

a:hover {
  color: $color-dark;
  text-decoration: none;
}

table {
  margin-top: 20px;
}

form {
  font-size: 120%;

  input[type='file'] {
    margin-top: 20px;
  }
}

button {
  width: 100%;
}

.about {
  img { margin: 20px 0 }
  a { text-decoration: underline }
  a:hover { text-decoration: none }
  p { text-align: left }
  p.emoji {
    font-size: 300%;
    text-align: center;
    margin-top: 50px;
  }
}

#footer {
  margin: 40px 0;
  text-align: center;
}

.show {
  text-align: center;
}

.flex-container {
  padding: 0;
  margin: 20px 0 0 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: #eee;
  padding: 0 15px 15px 15px;
  width: 300px;
  margin-bottom: 20px;
  border: 3px solid #999;
}

#notice {
  font-size: 130%;
  padding: 10px;
  background-color: #eee;
  border: 3px solid #ddd;
  color: green;
  text-align: center;
}

.field_with_errors {
  padding: 2px;
  background-color: #e5abb6;
}
